{% extends "base.html" %}
{% load static %}

{% block content %}
{% block header %}
    {% if user_role == "Staff" %}
        {% include "partials/header/header_staff.html" %}
    {% elif user_role == "Totem" %}
        {% include "partials/header/header_totem.html" %}
    {% else %}
        {% include "partials/header/header.html" %}
    {% endif %}
{% endblock %}

<main class="container">
    {% if messages %}
    <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 color_vermelho" id="messageModalLabel">Aviso</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        {% for message in messages %}
                        <li class="{{ message.tags }} list-group-item color_vermelho">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_laranja_border color_preto"
                        data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <h1 class="h1 text-center color_vermelho">Cadastrar de cliente</h1>

    <form method="post" class="container_form mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label color_vermelho">Nome:</label>
            <input type="text" name="name" id="name" class="form-control color_vermelho" placeholder="insira seu nome completo">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label color_vermelho">Email:</label>
            <input type="email" name="email" id="email" class="form-control color_vermelho" placeholder="insira seu email">
        </div>
        <div class="mb-3">
            <label for="cpf" class="form-label color_vermelho">CPF:</label>
            <input type="text" name="cpf" id="cpf" class="form-control color_vermelho" placeholder="insira seu CPF" max="14" >
        </div>

        <div class="mb-3 text-center">
            <button type="submit" class="btn btn_laranja_verde color_preto">Cadastrar novo usuário</button>
            <a href="{% url 'deteils_event' event.id %}" class="btn btn_laranja_vermelho color_preto">Voltar</a>
        </div>
    </form>
</main>

{% endblock %}
{% block footer %}
{% include "partials/footer/footer.html" %}
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/format_cpf.js' %}"></script>
<script src="{% static 'scripts/password_confirmation.js' %}"></script>
{% endblock %}