{% extends "base.html" %}
{% load static %}

{% block css_extra %}
<link rel="stylesheet" href="{% static 'styles/tickets.css' %}">
{% endblock %}

{% block content %}
{% block header %}
{% include "partials/header/header.html" %}
{% endblock %}

<main class="container mt-4">
    {% if messages %}
    <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 color_vermelho" id="messageModalLabel">Aviso</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        {% for message in messages %}
                        <li class="{{ message.tags }} list-group-item color_vermelho">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn_laranja color_cinza"
                        data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="d-flex gap">
        <div class="img_event">
            <img src="{{ events.imagem.url }}" alt="" class="rounded img_deteils">
        </div>
        <div class="info_event">
            <h1 class="h1 color_vermelho">{{ events.nome }}</h1>
            <div class="container_date">
                <span class="span_inf">{{ events.data|date:"d/m/Y" }}</span>
                <span class="span_inf">{{ events.data|time:"H:i" }}</span>
            </div>
            <div class="description mt-4 mb-3">
                <h4 class="h4 color_vermelho">Descrição</h4>
                <p class="w-80 color_vermelho">{{ events.descricao }}</p>
            </div>
            <div class="buttons_admin_event">
                <a href="{% url 'update_event' events.id %}" class="btn btn_laranja color_cinza">Editar evento</a>
                <a href="#" class="btn btn_verde color_cinza">Ingressos gerados</a>
                <a href="{% url 'delete_event' events.id %}" class="btn btn_vermelho color_cinza">Apagar evento</a>
                <a href="{% url 'list_setores' events.id %}" class="btn btn_vermelho_escuro color_cinza">Lista de
                    setores</a>
            </div>
            <h1 class="h1 text-center color_vermelho mt-4">INGRESSOS</h1>
            <div class="row">
                {% for ticket in tickets %}
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title color_vermelho">Nome do cliente: <span class="color_verde">{{ ticket.cliente.nome }}</span></h5>
                            <p class="card-text color_vermelho">Setor comprado: <span class="color_verde">{{ ticket.setor.nome }}</span></p>
                            <p class="card-text color_vermelho">Evento comprado: <span class="color_verde">{{ ticket.evento.nome }}</span></p>
                            <p class="card-text color_vermelho">Data do evento: <span class="color_verde">{{ ticket.evento.data|date:"d/m/Y H:i" }}</span></p>
                            <p class="card-text color_vermelho">Data de emissão do ingresso: <spanclass="color_verde">{{ ticket.data_emissao|date:"d/m/Y H:i" }}</span></p>
                            <p class="card-text color_vermelho">Status do ingresso: <span class="color_verde">{{ ticket.status }}</span></p>
                            <p class="card-text color_vermelho">Còdigo de validação: <span class="color_verde">{{ ticket.id_ingresso }}</span></p>
                            <a href="{% url 'export_ticket_pdf' ticket.id_ingresso %}" class="btn btn_verde color_cinza">Exportar ingresso</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p class="text-center color_vermelho">Sem ingressos gerados</p>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

{% endblock %}
{% block footer %}
{% include "partials/footer/footer.html" %}
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/3.0.1/jspdf.umd.min.js"></script>
<script src="{% static 'scripts/pdf_export.js' %}"></script>
{% endblock %}