{% extends "base.html" %}
{% load static %}

{% block content %}
{% block header %}
{% include "partials/header/header.html" %}
{% endblock %}

<main class="container">
    {% if messages %}
    <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 color_vermelho" id="messageModalLabel">Aviso</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        {% for message in messages %}
                        <li class="{{ message.tags }} list-group-item color_vermelho">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn_laranja color_cinza"
                        data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <h1 class="h1 text-center color_vermelho">Cadastrar setor</h1>
    <form method="post" class="container_form mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label color_vermelho">Nome:</label>
            <input type="text" name="name" id="name" class="form-control color_vermelho" placeholder="insira seu nome completo" value="{{ setor.nome }}">
        </div>
        <div class="mb-3">
            <label for="tickets" class="form-label color_vermelho">Quantidade de ingressos:</label>
            <input type="number" name="tickets" id="tickets" class="form-control color_vermelho" placeholder="insira a quantidade de ingressos neste setor" value="{{ setor.quantidade_ingresso }}">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label color_vermelho">Preço do evento:</label>
            <input type="number" name="price" id="price" class="form-control color_vermelho" placeholder="Preço do setor" value="{{ setor.preco|floatformat }}">
        </div>
        <div class="mb-3">
            <label for="profile" class="form-label color_vermelho">Perfil:</label>
            <select name="profile" id="profile" class="form-select color_vermelho">
                <option value="" disabled selected>Escolha um perfil</option>
                {% for event in events %}
                    {% if event.id == setor.evento.id %}
                        <option value="{{ event.id }}" selected>{{ event.nome }}</option>
                    {% else %}
                        <option value="{{ event.id }}">{{ event.nome }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="mb-3 text-center">
            <button type="submit" class="btn btn_verde color_cinza">Atualizar setor</button>
            <a href="{% url 'list_user' %}" class="btn btn_vermelho color_cinza">Voltar</a>
        </div>
    </form>
</main>

{% endblock %}
{% block footer %}
{% include "partials/footer/footer.html" %}
{% endblock %}