{% extends "base.html" %}
{% load static %}

{% block content %}
{% block header %}
    {% if user_role == "Totem" %}
        {% include "partials/header/header_totem.html" %}
    {% else %}
        {% include "partials/header/header.html" %}
    {% endif %}
{% endblock %}

<main class="container">
    {% if messages %}
    <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 color_vermelho" id="messageModalLabel">Aviso</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        {% for message in messages %}
                        <li class="{{ message.tags }} list-group-item color_vermelho">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn_laranja color_cinza"
                        data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="container_validation">
        <h1 class="h1 text-center color_vermelho font_weight">Validador</h1>
        <form method="post" class="container_form">
            {% csrf_token %}
            <div class="mb-3">
                <label for="code" class="form-label color_vermelho">Código do ingresso:</label>
                <input type="text" name="code" id="code" class="form-control color_vermelho input_validation" placeholder="Insira o código do ingresso aqui">
            </div>
            <div class="mb-3 text-center">
                <button type="submit" class="btn btn_laranja_border color_preto">Entrar</button>
            </div>
        </form>
    </div>
</main>

{% endblock %}
{% block footer %}
{% include "partials/footer/footer.html" %}
{% endblock %}